

#product-overview{
    /* background-image:radial-gradient(circle at 20% 50%, red , green,orange, transparent ); */
    background: linear-gradient(to top,rgba(80,68,18,.6) 10%,transparent), url('images/freedom.jpg') center/cover no-repeat border-box, #ff1b68;
    /* background-size: cover;
    background-position: left 5% bottom 40%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: scroll; */
    width: 100vw;
    height: 100vh;
    padding: .65rem;
    /* border: 2px red dashed; */
    position: relative;
}

#product-overview h1{
    color: white;
    font-family: 'Anton',sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
}

@media (min-width: 40rem ) and (min-height:40rem){
    #product-overview{
        height: 80vh;
    }

    #product-overview h1{
        font-size: 3rem;
    }
}

.section-title{
    color:#2ddf5c;
    text-align: center;
    font-size: 1.2rem;
    min-width: 26.25rem;
}

.Plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: .5rem 0;
    width: 100%;
}

.Plan--highlighted{
    background: #19b84c;
    color: #fff;
}

.Plan__annotation{
    background: #fff;
    color: #0e4f1f;
    box-shadow: 1.5px 1.5px  rgba(0,0, 0, 0.5);
    padding: .65rem .32rem;
    border-radius: 1rem;
}

.Plan__title{
    color: #0e4f1f;
}

.Plan__price{
    color: #858585;
}

.Plan--highlighted .Plan__title{
    color: #fff;
}

.Plan--highlighted .Plan__price{
    color: #0e4f1f;
}

.Plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Plan__features li{
    margin: .5rem 0;
}

@media (min-width:40rem){
    .plan__list{
    width: 100%;
    text-align: center;
    }

    .Plan {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        min-width: 13rem;
        max-width: 25rem;
    }

    .Plan--highlighted{
        box-shadow: 3px 2.5px rgba(0,0, 0, 0.5);
    }
}

#key--features{
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key--features .section-title{
    color: #fff;
    margin: 2rem;
}

.key--feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key--feature{
    /* display: inline-block;
    width: 30%; */
    vertical-align: top;
    min-width: 19rem;
}

.key--feature__image{
    background: #ffcede;
    width: 8rem;
    height: 8rem;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.25rem;
}

.key--feature__description{
    text-align: center;
    font-weight: bold;
    color: #fff;
}

@media (min-width:40rem){
    .section-title{
        
        font-size: 1.1rem;
    }
    .key--feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    max-width: 25rem;
}
}

/* Bye */
.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }