main{
    padding-top:32px ;
}

.package{
    width: 80%;
    margin: 16px 0;
    border: 2.5px solid #0e4f1f;
    border-left: none;
}

.package:active,
.package:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    border-color: #ff5454 !important;
}

.package a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__subtitle{
    color: #979797;
}

.package__info{
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
    background: #fff;
}

.clearfix{
    clear:both;
}

#plus{
    background: rgba(213, 255, 220, .95);
}

#free{
    background: rgba(234, 252, 237, .95);
    float: right;
    border-right:none ;
    border-left: 2.5px solid #0e4f1f;
    text-align: right;
}

#premium{
    background: rgba(14,79, 31, .95);
}

#premium .package__title {
    color: #fff;
}

#premium .package__subtitle{
    color: #bbb;
}