main{
    padding-top:2rem ;
}

.background{
    background: url('../images/plans-background.jpg') center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package{
    width: 80%;
    margin: 1rem 0;
    border: 2.5px solid #0e4f1f;
    border-left: none;
}

.package:active,
.package:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    border-color: #ff5454 !important;
}

.package a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
    position: relative;
}

.package__badge{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.25rem;
    font-size: .75rem;
    color: #fff;
    background: #ff5454;
    padding: .5rem;
}

.package__subtitle{
    color: #979797;
}

.package__info{
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 1.25rem;
    color: #0e4f1f;
    background: #fff;
    font-family: "Roboto",sans-serif;
}

.clearfix{
    clear:both;
}

#plus{
    background: rgba(213, 255, 220, .95);
}

#free{
    background: rgba(234, 252, 237, .95);
    float: right;
    border-right:none ;
    border-left: 2.5px solid #0e4f1f;
    text-align: right;
}

#premium{
    background: rgba(14,79, 31, .95);
}

#premium .package__title {
    color: #fff;
}

#premium .package__subtitle{
    color: #bbb;
}

@media (min-width: 40rem){
    main {
      margin: 3rem auto;
      max-width: 1500px;
    }
}

@media (min-width: 1500px){
    .package {
        border-left: 2.5px solid #0e4f1f;
    }

    #free {
        border-right: 2.5px solid #0e4f1f;
    }
}

/* The end */